<div ngClass="answerOptionsWrapper" *ngIf="mcQuestion != null">
  <h2>{{mcQuestion!.questionText}}</h2>
  <div *ngFor="let answerOption of mcQuestion!.answerOptions" ngClass="answerOptionContainer">
      <div ngClass="answerOptionLine">
        <input (change)="checkboxChange(answerOption, $event)" #checkbox type="checkbox" ngClass="checkbox"/>
        <span
          (click)="answerOptionClicked(answerOption)"
          ngClass="answerOptionText"
          [ngStyle]="{'color': isCorrect(answerOption.id!) === undefined ? 'black' : isCorrect(answerOption.id!) ? 'green' : 'red'}"
        >
          {{answerOption.answerText}}
        </span>
      </div>
      <small ngClass="validationText" *ngIf="showValidation || reviewMode" >
        {{isCorrect(answerOption.id!) ? "Richtige Antwort!" : "Leider falsch!"}}
      </small>
  </div>
  <span *ngIf="showValidation || reviewMode" ngClass="pointText"> Du hast auf diese Frage <span [ngStyle]="{'color': pointPercentage >= 0.75 ? 'green' : 'red'}">{{pointPercentage}} Punkte </span> erhalten.</span>
  <button *ngIf="!quizMode && !reviewMode && !showValidation" (click)="validateAnswers(true)" ngClass="checkButton">Prüfen</button>
  <button *ngIf="!quizMode && !reviewMode && showValidation" (click)="nextQuestion()" ngClass="checkButton">Nächste Frage</button>
  <button *ngIf="quizMode" (click)="nextQuestion()" ngClass="checkButton">Weiter</button>
</div>
