.wrapper {
  margin: 20px 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex: 1;
  min-height: 40vh;
}

.answerOptionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.answerOptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.answerOptionLine {
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}

.answerOptionText {
  font-size: 1rem;
  cursor: default;
}

.checkbox {
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
}

.checkButton {
  background-color: var(--primary-blue);
  margin: 25px 0 0 0;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir';
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
}

.checkButton:hover {
  background-color: var(--dark-blue);
}

.validationText {
  width: 150px;
}

.pointText {
  width: 100%;
  text-align: center;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 840px) {

  .wrapper {
    width: 100%;
    min-height: 90%;
    height: 90%;
  }

  .answerOptionsWrapper {
    min-width: 100%;
  }

  .answerOptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin: .7rem 0;
  }

  .checkbox {
    min-width: 24px;
    min-height: 24px;
  }

  .checkButton {
    padding: 1rem 0;
    font-size: larger;
  }
}
