<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [ngClass]="{hidden: (isHandset$ | async)! === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" ngClass="sideNav-Header">Menü</mat-toolbar>
    <mat-nav-list ngClass="sidenav-menu">
        <a class="link title" routerLink="/courses" [queryParams]="{}">Kurse</a>
        <a class="link title" routerLink="/quiz" [queryParams]="{}">Quizzes</a>
        <a class="link title" routerLink="/add-question" [queryParams]="{}">Erstellen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div ngClass="headerLine">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img ngClass="logo" src="../../assets/logo.png" alt="Probefragen.at" routerLink="/courses" />
      <span class="spacer"></span>
      <div *ngIf="(isHandset$ | async) === false">
        <a class="link title" routerLink="/courses" [queryParams]="{}">Kurse</a>
        <a class="link title" routerLink="/quiz" [queryParams]="{}">Quizzes</a>
        <a class="link title highlighted" routerLink="/add-question" [queryParams]="{}">Erstellen</a>
      </div>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
