  <div ngClass="wrapper">
    <div ngClass="infoLineWrapper title">
      <span ngClass="infoLine" [style]="{'margin-right': '5px'}">Quiz</span>
      <span>vergangene Zeit: <span [ngStyle]="{'min-width': '50px'}">{{timer | date:"mm:ss"}}</span></span>
    </div>
    <!-- Question -->
    <div ngClass="mcQuestionWrapper">
      <mc-question
        [mcQuestion]="currentQuestion"
        [quizMode]="true"
      >
      </mc-question>
    </div>

    <!-- Bottom Utlities -->
    <div ngClass="bottomUtilityLine">
      <div ngClass="progress" [ngStyle]="{'width': calculateProgress()}">  </div>
    </div>
  </div>
