.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  padding-top: 5%;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  padding-bottom: 2%;
  text-align: center;
  font-size: 1.5rem;
}

.gradeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .6rem;
}

.gradeText {
font-size: 1.1rem;
}

.bigger {
  font-size: 1.3rem !important;
}

.highlighted {
  color: green;
}

.questionDetails {
  width: 70%;
  margin: 5rem auto;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--divider-gray);
}
