.mainWrapper {
  width: 90%;
  margin: 3% 5%;
  height: 500px;
}

.infoLineWrapper {
  display: flex;
  justify-content: space-between;
}

.infoLine {
  font-size: larger;
}

.questionAreaWrapper {
  margin: 5% auto;
  width: 70%;
  height: 300px;
}

.actionCall {
  font-size: larger;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s;
  border-bottom: var(--primary-blue) solid 1px;
  cursor: pointer;
}

.actionCall:hover {
  color: #fff;
  background-color: #4ab2f2;
}
