<div ngClass="mainWrapper">
  <div ngClass="rootFlex">
    <div ngClass="infoLineWrapper title" *ngIf="course | async as course">
      <div ngClass="infoLineItems">
        <span ngClass="infoLine" [style]="{'margin-right': '5px'}">  {{course.name}}</span>
        {{!(isHandset$ | async) ? "-" : ""}}
        <span ngClass="infoLine">{{(isHandset$ | async) ? selectedQuestion == null ? "Fragensammlung: " : "" : course.intendedSemester + ". Semester"}}</span>
      </div>
      <span *ngIf="!(isHandset$ | async)" ngClass="actionCall" [routerLink]="['/add-question']" [queryParams]="{preselectedCourse: course.id}">Hilf anderen indem du selbst Fragen hinzufügst!</span>
    </div>
    <!-- TODO: Filter line (currently disabled from showing)-->
    <div
      ngClass="filterLine"
      *ngIf="false && !(isHandset$ | async) && genericQuestions !== null && selectedQuestion === null"
    >
      <span ngClass="title">Filter nach Tags: </span>
      <app-question-tag-display
        *ngFor="let tag of (course | async)?.questionTags"
        [questionTag]="tag"
        [active]="activeTags.includes(tag.name)"
        [allowClicks]="true"
        (onClickEvent)="onTagClick($event.name, $event.active)"
      >
      </app-question-tag-display>
    </div>

    <div ngClass="questionAreaWrapper" *ngIf="genericQuestions !== null && selectedQuestion === null">
        <span *ngIf="(course | async) && genericQuestions.length == 0" ngClass="no-questions-placholder"> Es gibt noch keine Fragen! Füge jetzt als erstes Fragen hinzu! 😁 </span>
        <question-list-item
          *ngFor="let question of genericQuestions | filterQuestionsPipe:'Aussage':['Kapitel 1']"
          [mcQuestion]="question"
          (click)="handleQuestionSelect(question)"
          routerLink="./"
          [queryParams]="{question: question.id, mc: question.isMultipleChoice}"
        >
        </question-list-item>
    </div>
    <div ngClass="questionDetailWrapper" *ngIf="selectedQuestion !== null">
      <question-detail-view
        [genericQuestion]="selectedQuestion"
      >
      </question-detail-view>
    </div>
    <div ngClass="actionCallButtonWrapper">
      <button *ngIf="(isHandset$ | async)" ngClass="default-button actionCallButton" [routerLink]="['/add-question']" [queryParams]="{preselectedCourse: (course | async)?.id}">Hilf anderen indem du selbst Fragen hinzufügst!</button>
    </div>
  </div>
</div>
