.mainWrapper {
  width: 90%;
  margin: 3% 5%;
  min-height: 90%;
}

.rootFlex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.infoLineWrapper {
  display: flex;
  justify-content: space-between;
}

.infoLineItems {
  display: block;
}

.infoLine {
  font-size: larger;
}

.questionAreaWrapper {
  padding: 2% 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 15px;
  row-gap: 15px;
  width: 100%;
  flex-grow: 1;
}

.actionCall {
  font-size: larger;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s;
  border-bottom: var(--primary-blue) solid 1px;
  cursor: pointer;
}

.actionCallButton {
  background-color: var(--dark-blue);
  margin: 10% auto 10% auto;
  font-size: 1rem;
  padding: .5rem .8rem;
}

.actionCallButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.actionCall:hover {
  color: #fff;
  background-color: #4ab2f2;
}

.questionDetailWrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@media screen and (max-width: 1200px) {
  .questionAreaWrapper {
    padding: 2% 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 840px) {

  .mainWrapper {
    min-height: 100vh;
  }

  .rootFlex {
    min-height: 90vh;
  }

  .questionAreaWrapper {
    padding: 2% 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;
  }

  .infoLineItems {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    row-gap: 1rem;
    padding-bottom: .5rem;
  }

  .infoLine {
    font-size: larger;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .questionAreaWrapper {
    padding: 2% 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;
  }
}
