<form ngClass="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <!-- Question Text -->
  <div ngClass="formControl">
    <label for="questionText" ngClass="inputLabel title">Fragestellung</label>
    <input
      [(ngModel)]="question.questionText"
      required
      type="text"
      name="questionText"
      id="questionText"
      placeholder="Frage..."
      #questionText="ngModel"
    />
    <small *ngIf="!questionText.valid && questionText.touched" ngClass="error"> Fragestellung ist ein Pflichtfeld</small>
  </div>

  <!-- Question Tags -->
  <mat-form-field appearance="fill" *ngIf="availableTags.value.length > 0" appearance="outline" ngClass="tagSelection">
    <mat-label>Tags (empfohlen)</mat-label>
    <mat-select [(value)]="question.tags" multiple>
      <mat-select-trigger>
        {{question.tags.length > 0 ? question.tags[0].name : ''}}
        {{question.tags.length > 1 ? ', ' : ''}}
        {{question.tags.length > 1 ? question.tags[1].name : ''}}
        <span *ngIf="question.tags.length > 2" ngClass="additional-selection">
          (+ {{+(question.tags.length - 2)}} mehr)
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let tag of availableTags.value" [value]="tag">{{tag.name}}</mat-option>
    </mat-select>
    <small *ngIf="question.tags.length == 0">Tags helfen uns, deine Frage zu kategorisieren!</small>
  </mat-form-field>

  <!-- Badge -->
  <div ngClass="badgeWrapper">
    <input (change)="onBadgeChanged($event)" ngClass="badgeCheckbox" name="badgeChecked" type="checkbox" />
    <label> Diese Frage ist eine Altfrage</label>
  </div>

  <!-- Question Source -->
  <div ngClass="formControl">
    <label for="questionSource" ngClass="inputLabel title">Teile deine Antwort! (Optional)</label>
    <input
      [(ngModel)]="question.source"
      type="text"
      name="questionSource"
      id="questionSource"
      placeholder="Eigene Erklärung, Skript Seite, oder Antwort-Link? Alles ist hilfreich!"
      #questionSource="ngModel"
    />
  </div>

  <!-- Answer Options -->
  <div ngClass="answerOptionsWrapper">
    <span ngClass="title inputLabel">Antwortmöglichkeiten</span>
  <div *ngFor="let answerOption of question.answerOptions; let idx = index" ngClass="answerOption">
    <div ngClass="formControl">
      <input
        [(ngModel)]="question.answerOptions[idx].answerText"
        required
        type="text"
        name="answerOption_{{idx}}"
        id="answerOption_{{idx}}"
        placeholder="Antwortmöglichkeit..."
        #questionText="ngModel"
      />
      <small *ngIf="!questionText.valid && questionText.touched && checkAnswerOptionError(idx)" ngClass="error"> Bitte gib eine Antwortmöglichkeit ein, oder lösche die Antwortmöglichkeit komplett.</small>
      <div ngClass="answerOptionExplanationLine">
        <small *ngIf="!questionText.valid && questionText.touched && checkAnswerOptionError(idx)" ngClass="error"> Antwortmöglichkeit ist ein Pflichtfeld</small>
        <small *ngIf="question.answerOptions[idx].isCorrect"> Diese Antwort wird als <span ngClass="green">richtig</span> gewertet!</small>
        <small *ngIf="!question.answerOptions[idx].isCorrect"> Diese Antwort wird als <span ngClass="error">falsch</span> gewertet!</small>
        <small (click)="deleteAnswerOption(idx)" ngClass="clickable delete" > Antwortmöglichkeit löschen</small>
      </div>
    </div>
    <div ngClass="checkboxControl">
      <label> Richtig?</label>
      <input [(ngModel)]="question.answerOptions[idx].isCorrect" name="checked" type="checkbox" #checked="ngModel"/>
    </div>
  </div>
  <button type="button" ngClass="addMCQuestionButton" *ngIf="question.answerOptions.length <= 4" (click)="addEmptyAnswerOption()"> Antwortmöglichkeit hinzufügen</button>
  </div>
  <button type="submit" ngClass="submitButton">Frage Speichern</button>

  <!-- Snackbar Message -->
  <div ngClass="snackbar" [ngStyle]="{'backgroundColor': snackbarDetails?.color, 'opacity': snackbarDetails === null ? '0' : '1'}">
      {{snackbarDetails?.message}}
  </div>
</form>
