<div ngClass="wrapper">
  <h1 ngClass="title">Starte jetzt ein Probequiz!</h1>
  <div ngClass="quizItems">
    <div
      *ngFor="let course of courses"
      ngClass="quizItemWrapper"

      [ngStyle]="{'background-color': isValidQuiz(course) ? 'var(--primary-blue)' : '#CBCBD4'}"
    >
      <div ngClass="colorLine">
        <span ngClass="colorLineText title">{{course.name}}</span>
      </div>
      <span>{{createContentText(course.multipleChoiceQuestions.length)}}</span>
      <span *ngIf="course.multipleChoiceQuestions.length < 10">Es benötigt mindestens 10 Fragen, um ein Quiz zu starten!</span>
      <mat-icon *ngIf="course.multipleChoiceQuestions.length >= 10" ngClass="icon">check_circle_outline</mat-icon>
      <button
        *ngIf="isValidQuiz(course)"
        ngClass="default-button actionButton valid-quiz"
        [routerLink]="['/quiz', course.id]"
        [queryParams]="{'status': 'start'}"
      >
        Quiz Starten
      </button>
      <button
        *ngIf="!isValidQuiz(course)"
        routerLink="/add-question"
        [queryParams]="{preselectedCourse: course.id}"
        ngClass="default-button actionButton invalid-quiz"
        [ngStyle]="{'background-color': isValidQuiz(course) ? 'white' : 'var(--navy-blue)'}"
      >
        Frage Hinzufügen
      </button>
  </div>

  </div>
</div>
