.wrapper {
  padding: 3%;
  width: 90%;
  margin: 0 auto;
}

.quizItems {
  padding: 2% 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 15px;
  row-gap: 15px;
  width: 100%;
  position: relative;
}

.quizItemWrapper {
  border-radius: 15px;
  background-color: var(--divider-gray);
  cursor: default;
  min-height: 115px;
  position: relative;
  --border-radius: var(15px);
  display: flex;
  row-gap: 5px;
  padding: 2rem 3% 1% 3%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.colorLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 25px;
  background-color: #885A89;
  border-radius: 15px 15px 0 0;
}

.colorLineText {
  margin: 0 0 0 15px;
  line-height: 25px;
  vertical-align: center;
  color: white;
}

.actionButton {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #2b8ac4;
}

.icon {
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
  transform: scale(2);
  color: #2b8ac4;
}

.valid-quiz {
  background-color: white;
  color: black;
}
.valid-quiz:hover {
  color: white;
  background-color: #4CAF50;
}

.invalid-quiz {
  color: white;
  background-color: #2b8ac4 !important;
}

.invalid-quiz:hover {
  background-color: #885A89 !important;
}


@media screen and (max-width: 1200px) {
  .quizItems {
    padding: 2% 0;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    row-gap: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .quizItems {
    padding: 2% 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 15px;
    width: 100%;
  }
}
