<div ngClass="wrapper" *ngIf="genericQuestion">
  <div ngClass="topUtilityLine">
    <span ngClass="text-link" routerLink="./" [queryParams]="{}">
        <mat-icon aria-label="Back to List View">arrow_back</mat-icon>
        zurück zur Fragensammlung
    </span>
    <span *ngIf="!(isMobile$ |async)">
      Übungsmodus
    </span>
  </div>

  <div ngClass="tagLine" *ngIf="mcQuestion | async as mcQuestion">
    <app-question-tag-display
      *ngFor="let tag of mcQuestion.tags"
      [questionTag]="tag"
      [active]="true"
    >
    </app-question-tag-display>
  </div>

  <!-- Question Answer -->
  <mc-question *ngIf="mcQuestion | async as mcQuestion"
    ngClass="mcQuestion"
    [mcQuestion]="mcQuestion"
  >
  </mc-question>
  <div *ngIf="openQuestion | async as openQuestion">
    Open
  </div>

  <!-- Bottom Utlities -->
  <div ngClass="bottomUtilityLine">
    <span ngClass="text-link" (click)="previousQuestionClicked()">
      <mat-icon aria-label="Back">arrow_back</mat-icon>
      zur vorherigen Frage
    </span>
    <span ngClass="text-link" (click)="nextQuestionClicked()">
      zur nächsten Frage
      <mat-icon aria-label="Back">arrow_forward</mat-icon>
    </span>
  </div>
</div>
