.wrapper {
  width: 800px;
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Layout */
.topUtilityLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tagLine {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  column-gap: 10px;
}

.bottomUtilityLine {
  border-top: 1px solid var(--divider-gray);
  padding: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mat-icon {
  font-size: x-small;
  padding-right: 0px;
  width: 10px;
}

.mcQuestion {
  width: 100%;
  flex: 1;
}

@media screen and (max-width: 840px) {
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
}
