/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

:root {
  --primary-blue: #4ab2f2;
  --dark-blue: #4c516d;
  --navy-blue: #464d77;
  --washed-green: #A3C9A8;
  --green: #4CAF50;
  --divider-gray: #C8C8C8;
}

body {
  margin: 0;
  font-family: Avenir, "Helvetica Neue", sans-serif !important;
}

.title {
  font-family: Comfortaa, "Helvetica Neue", sans-serif !important;
}

.clickable {
  cursor: pointer;
}

.text-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-blue);
  transition: all 0.5s;
}
