<div ngClass="wrapper">
  <img ngClass="circleImage" src="../../assets/circle.jpeg"/>
  <div ngClass="landingTextWrapper">
    <p ngClass="landingText">Der <span ngClass="highlighted">bessere</span> Weg zum Lernen.</p>
    <p ngClass="landingText">Bereite dich mit unseren <span ngClass="highlighted">über 100 Probefragen</span> <br /> optimal auf deine nächste Prüfung vor.</p>
    <p ngClass="landingText">ODER</p>
    <p ngClass="landingText right">Tauche noch tiefer in den Stoff ein <br />indem du <span ngClass="highlighted">selbst Fragen erstellst</span></p>
  </div>
  <img ngClass="otherImage" src="../../assets/half.jpeg"/>
  <div ngClass="actionButtons">
    <button ngClass="default-button actionButton"> ERSTELLEN </button>
    <button ngClass="default-button actionButton"> LERNEN </button>
    <button ngClass="default-button actionButton"> PRÜFEN </button>

  </div>
</div>
